# remediate.right-size - Terraform patch template.
#
# Referenced by rule `sql-database.tier-overprovisioned`.
# Drop the SKU to var.recommended_sku_name.


resource "azurerm_mssql_database" "${resource_id}" {
  sku_name = var.recommended_sku_name
}
