# remediate.remove-orphan-resource - Terraform patch template.
#
# Referenced by rule `disk.unattached`.
# The remediation PR removes the disk stanza.


# The remediation PR removes this resource stanza.
